# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
part1/node_modules
part2/node_modules
unicafe/node_modules
phonebook/node_modules
data-for-countries/node_modules
redux-anecdotes/node_modules
bloglist-frontend/node_modules
anecdotes/node_modules
/.pnp
.pnp.js

# testing
part1/coverage
part2/coverage
unicafe/coverage
phonebook/coverage
data-for-countries/coverage
redux-anecdotes/coverage
bloglist-frontend/coverage
anecdotes/coverage

# production
part1/build
part2/build
unicafe/build
phonebook/build
data-for-countries/build
redux-anecdotes/build
bloglist-frontend/build
anecdotes/build

# misc
data-for-countries/.env
redux-anecdotes/.env
bloglist-frontend/.env
anecdotes/.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
